@import url('https://fonts.googleapis.com/css?family=Kumbh Sans');
// @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
//font
$font: 'kumbh sans', sans-serif;

//headings'font sizes
$heading1: 28px;
$heading2: 24px;
$heading3: 20px;
$heading4: 14px;
$paragraph: 14px;

